# EditorConfig helps developers define and maintain consistent coding styles
# across different editors and IDEs
root = true

# Global defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown - do not trim trailing spaces (needed for line breaks)
[*.md]
indent_style = tab
trim_trailing_whitespace = false

# YAML / YML files
[*.{yml,yaml}]
indent_size = 2


# NEON files (used in Nette, PHPStan etc.)
[*.neon]
indent_size = 2
