# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# These files are always considered text and should use LF.
# See core.whitespace @ https://git-scm.com/docs/git-config for whitespace flags.
*.php text eol=lf diff=php
*.json text eol=lf diff=json
*.xml text eol=lf diff=xml
*.yml text eol=lf diff=yaml
*.yaml text eol=lf diff=yaml
*.md text eol=lf diff=markdown

# Exclude non-essential files from dist
/.github/ export-ignore
/doc export-ignore
/tests/ export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/rector.php export-ignore
/CHANGELOG.md export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
